div {
	font-family: "Adobe Arabic"
}
h1 {
	font-family: "Adobe Arabic"
}
li {
	font-family: "Adobe Arabic"
}
h2{
	background-color: bisque;
}
h3 {
	background-color: burlywood;
}
li {
	background-color: bisque;
}
p {
	font-family: "Century Gothic";
	li
}
